<app-player-list-items
  *ngFor="let player of PlayerList; even as isEven"
  [players]="player"
  [background]=" isEven ? 'linear-gradient(-45deg, black, white, wheat)' : 'linear-gradient(45deg, gray, white, wheat)' ">
</app-player-list-items>


<!--<app-player-list-items [players]="Player1"></app-player-list-items>-->
<!--<app-player-list-items [players]="Player2"></app-player-list-items>-->
<!--<app-player-list-items [players]="Player3"></app-player-list-items>-->
<!--<app-player-list-items [players]="Player4"></app-player-list-items>-->
<!--<app-player-list-items [players]="Player5"></app-player-list-items>-->
<!--<app-player-list-items [players]="Player6"></app-player-list-items>-->
