<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PLayers</title>
</head>

<body>
<div *ngIf="players" [ngStyle]="{'background-image': background}">
  <h1>{{players.firstName}}</h1>
  <h3>{{players.lastName}}</h3>
  <h2>{{players.jerseyNumber}}</h2>
  <figure>
    <img ngSrc="Players-Images/{{players.id}}.jpg" width="200" height="150" alt="Players Pictures">
    <figcaption>
      Soccer Players
    </figcaption>
  </figure>
</div>
</body>
</html>
